/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	display:flex; /*pour permettre la réussite de l'affichage pop up.*/
	flex-direction: column;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1440px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	/* padding: 0 400px; */
}
#editMode {
	display: flex;
	/* align-content: center; */
	justify-content: center;
	color: white;
	background-color: #000000;
	/* padding: 10px; */
	margin: 0;
}
#menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 50px 0

}
.edit {
	padding: 10px;
}
#editMode .edit {
	padding: 20px;
}
.edit i {
	margin-right: 10px;
}
section {
	margin: 50px 0;
	background-color: #FFFEF8;
}
#titre {
	display: flex;
	justify-content: center;
}
#titre h2 {
	margin-right: 20px;
}
.notVisible {
	display: none;
}
h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
.fa-solid fa-pen-to-square {
	padding-right: 15px;
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li a {
	padding: 0 30px;
	font-family: 'Work Sans';
	font-size: 1.2em;
	font-weight: 400;
	color: #000000;
	text-decoration: none;
}

nav li a:hover {
	color: #B1663C;
	cursor: pointer;
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
#btn-edit {
	/* font:initial; */
	background-color: transparent;
	border: none;
	cursor: pointer;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#filter {
	display: flex;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 50px;;
}
#filter li {
	font: 700 16px "Syne";
	border: solid 1px #1D6154;
	border-radius: 30px;
	padding: 12px;
	margin: 0 5px;
}
.activeFilter,#filter li:hover {
	background-color: #1D6154;
	color:white;
	cursor: pointer;
}
.unActiveFilter {
	color: #1D6154;
}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;
}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}


/* CSS spécifique à la page login */

/**************** Pied de page en bas ***************/
#loginBody {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: #FFFEF8;
}
#loginMain {
	flex: 1 1 auto;
	
}
/****************************************************/
nav ul li span a {
	font-weight: 700;
	/* color: aquamarine; */
}
nav ul li span a:hover {
	color: #000000;
	cursor:default;
}
#login {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 400px;
	margin:auto;
}
#login form {
	display: flex;
	flex-direction: column;
	
	/* align-items: center; */
}
#login > * {
	/* text-align: center; */
}
#login input[type="text"],#login input[type="password"] {
	width: 380px;
	height: 50px;
}
#login input[type="submit"] {
	padding: 10px;
	border: none;
}
#login label {
	margin-top: 40px;
	margin-bottom: 10px;
}
#login a {
	text-decoration: none;
	color: #000000;
}
#login p {
	color:red;
	font-weight: bolder;
	margin: 50px 0;
}
#loginFooter {
	display: flex;
	justify-content: flex-end;
	padding: 20px;
	padding-right: 50px;
	background-color: white;
}

/**
  * Gestion des popups
  */

  .popupBackground {
    display: none;
    position: fixed;
    height: 100vh;
	width: 1440px;
    /* width: 100vw; */
    background-color: rgba(0, 0, 0, 0.5);
	/* z-index: 1; */
}

.popup {
	display: flex;
	flex-direction: column;
	/* flex-wrap: wrap; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    /* justify-content: center; */
	/* justify-items: center; */
	align-items: center;
    width: 630px;
    padding: 40px 0;
    text-align: center;
    color: black;
    /* font-size: 17px; */
    /* font-weight: 500; */
    background-color: white;
    border-radius: 10px;
    z-index: 1;
}

.popup h1 {
	/* font: 16px "Work Sans" 400; */
	font-family: "Work Sans";
	font-size: 26px;
	font-weight: 400;
	color: black;
	line-height: 30.5px;
	margin-bottom:40px;
	
}
.popup span {
	color: red;
	cursor: pointer;
}

#closure {
	align-self:flex-end;
	margin-right: 30px;
	cursor: pointer;
}

#galleryEdit {
	width: 80%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	padding-bottom:60px;
	border-bottom: solid 1px lightgrey;
}

#galleryEdit img {
	width: 100%;
}
#galleryEdit figure {
	position:sticky;
}


.active {
    display: flex !important;
}

#btnAjout {
	font: 700 16px "Syne";
	border-radius: 30px;
	padding: 12px 60px;
	margin-top: 40px;
	margin-bottom: 20px;
	background-color: #1D6154;
	color:white;
	cursor: pointer;
}

.imgIcon {
	position: absolute;
	left: 60px;
	bottom: 105px;
	height: 20px;
	width: 20px;
	padding: 1px;
	background-color: #000000;
	color: white;
	border-radius: 5px;
	cursor: pointer;
}

.imgIcon i {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }



	